.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.banner {
    background-color: #fdddd2;
    padding: 100px 0;
}

.banner-1 { grid-area: a; }
.banner-2 { grid-area: b; }
.banner-3 { grid-area: c; }
.banner-4 { grid-area: d; }

.banner__container {
    max-width: 970px;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px 350px;
    grid-template-areas:
    "a a a"
    "b c d";
}

.praia {
    background-color: #181818;
    padding: 100px 15px;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.praia-1 { grid-row: 1/2; }
.praia-2 { grid-row: 2/3; }
.praia-3 { grid-row: 1/3; }

.praia .img { border-radius: 7px; }


